nav {
  box-sizing: border-box;
  width: 40px;
  position:fixed;
  height: 100vh;
  top: 0px;
  left: 0px;


  background-color: black;
  color: white;
}

nav #menuIcon div {
  width: 24px;
  height: 3px;
  background-color: white;
}

nav #menuIcon {
 padding: 8px;
}

nav #menuIcon div:nth-child(2) {
  margin: 6px 0;
}

nav ul {
  display:none;
}

nav li {
  line-height: 1.8;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin-bottom: 8px;
}

nav a {
  color: white;
  text-decoration: none;
}

nav:hover #menuIcon div {
  display:none;
}

nav:hover {
  width: 250px;
  padding: 40px;
}

nav:hover ul {
  display:block;
}

nav a:hover {
  text-decoration: underline;
}
