body {
  width: 700px;
  height: 17486px;
  margin: 0 auto;
  background-image: url(dom_narkomfina_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  color: red;
}

h1, h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 213px;
  margin-bottom: 229px;
  letter-spacing: -1.4px;
}

h2 {
  margin-top: 45px;
  margin-bottom: -0.9px;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: -0.45px;
}

h3 {
  color: #E91E63;
  font-size: 34px;
  margin-top: 59.5px;
  letter-spacing: -1.8px;
  line-height: 33px;
  margin-bottom: -3px;
}

p, li {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

p {
  font-size: 22px;
  letter-spacing: 0.16px;
  line-height: 33px;
  margin-top: 30.1px;
}
h2 + p {margin-top: 7px;}

ul {
  margin-top: -3px;
  margin-bottom: 34px;
}
li {
  font-size: 22px;
  margin-top: 2.9px;
  margin-bottom: -3px;
  letter-spacing: 0.16px;
  line-height: 33px;
}
