body {
  width: 700px;
  height: 17386px;
  margin: 0 auto;
  background-image: url(dom_narkomfina_bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  color: red;

}

h1, h2, h3 {
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

p, li {
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}


h1 {
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  margin-top: 213px;
  letter-spacing: -2.4px;
  margin-bottom: 230px;
}

h2 {
    margin-top: 44px;
    font-size: 35px;
    font-weight: bold;
    letter-spacing: -0.2px;
}

h3 {
    font-size: 31px;
    margin-top: 60px;
    letter-spacing: -0.13px;
    margin-bottom: 30px;
}
p {
    font-size: 22px;
    letter-spacing: 0.16px;
    line-height: 33px;
    margin-top: 30px;
}


ul {
    font-size: 22px;
    letter-spacing: 0.15px;
    line-height: 33px;
}


h2+p{
  margin-top: 8px
}
