#projects *{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all    0.5s ease-out;
  -ms-transition: all     0.5s ease-out;
  -o-transition: all      0.5s ease-out;
  transition: all         0.5s ease-out;
}

#projects {
  position: relative;
  overflow: hidden;
}

#projects .circlesWrapper {
position: absolute;
z-index: 2;
width: 100vw;
bottom: 30px;
left: 0px;
text-align: center;
}

#projects .circlesWrapper li {
display: inline-block;
width: 12px;
height: 12px;
margin: 0 6px;
border: 1px solid white;
cursor: pointer;

-webkit-border-radius: 6px;
-moz-border-radius:    6px;
border-radius:         6px;
}

#projects .circlesWrapper li.current {
background-color: white;
}

#projects .projects {
  position: relative;
  height: 600px;
  width: 100vw;
  background-image: url(../images/hack_exchange.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color:white;
}

#projects .projectsWrapper {
  width: 300vw;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#projects .projects:hover  {
  background-size: 105%;
}

  #projects .projects:hover .overlay {
    background-color: rgba(70,0,100,.6);
  }

  #projects .projects:hover .button {
    background-color: rgba(90,225,0,.5);
  }

#projects .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,.6);
}

#projects section {
  position: relative;
  z-index: 1;
  width: 80%;
  margin: 0 auto;
  padding-top: 100px;
}

#projects h2 {
  font-size:40px;
}

#projects h3 {
  margin-top: 5px;
  font-size: 20px;
}

#projects p {
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.2;
}

#projects .button {
  display: inline-block;
  height: 50px;
  padding: 0 20px;
  margin: 40px 0;
  line-height: 50px;
  font-size: 20px;
  text-transform: uppercase;
  border: 2px solid white;

  cursor: pointer;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#projects .button:hover {
  background-color: rgba(190, 255, 0, 1);
  color: rgb(30,40,60);
}
